<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="7.2.4630.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Org.Kevoree.Core.Model" version="5.2.7" targetFramework="net45" />
</packages>